body{
    background-color: grey;
}
#title{
    background: url(images/lizard_wizard.png) 0px 0px;
    background-repeat: no-repeat;
}
#title:hover{
    background: url(images/lizard_wizard.png) -800px 0px;
    background-repeat: no-repeat;
}
.ash .sprite{
    background: url(images/lizards.png) 0px 0px;
}
.edgar .sprite{
    background: url(images/lizards.png) -250px 0px;
}
.gummy .sprite{
    background: url(images/lizards.png) -500px 0px;
}
.oss .sprite{
    background: url(images/lizards.png) -750px 0px;
}
.ross .sprite{
    background: url(images/lizards.png) -1000px 0px;
}
