.small_box{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: none;
    display: inline;
}
#pic1{
    padding: 0px 0px 0px 0px;
}
#pic2{
    padding: 0px 0px 0px 0px;
    
}
#pic3{
    margin: 0px 0px 0px 0px;
}
#pic4{
    margin: 0px 0px 0px 0px;

}
body{
    margin: 0px 0px 0px 0px;
}