#scroll_box{
    padding: 0px 0px 0px 0px;
    border: none;
    margin: 0px 0px 0px 0px;
    outline: 2px dashed red;
    
    width: 200px;
    height: 200px;
    overflow: scroll;
}

#image{
    /*padding: 0px 0px 0px 0px;
    border: none;
    margin: 0px 0px 0px 0px;
    outline: 2px dashed red;
    
    width: 50%;
    height: auto;*/
    
}
#text{
    padding: 0px 0px 0px 0px;
    border: none;
    margin: 0px 0px 0px 0px;
    outline: 2px dashed red;
    
    width: 200px;
    height: 200px;
    overflow: scroll;
}